<div class="sign_up">
<h1>見参</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <strong>俺ノ宛</strong><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <strong>合言葉</strong><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
<!--
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
-->

  <div class="actions">
    <%= f.submit "見参" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
