<!DOCTYPE html>
<html>
  <head>
    <title>魁!!漢飯</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %></p>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %></p>
  </head>

  <body>
    <div class="container">
      <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if ore_user_signed_in? %>
        <%= link_to image_tag(current_ore_user.OreImage.url, :size =>'50x50'), root_path %>
        <%= link_to 'プロフィール変更', edit_ore_user_registration_path %>
        <%= link_to 'ログアウト', destroy_ore_user_session_path, method: :delete %>
      <% else %>
        <p><%= link_to 'サインアップ', new_ore_user_registration_path %></p>
        <p><%= link_to 'ログイン', new_ore_user_session_path %></p>
        <% end %>
      </nav>
      <h1><%= link_to image_tag('/assets/header.png', class: 'logo'), root_path %></h1>
    <%= yield %>
    </div>
  </body>
</html>
